<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/list.css"/>
	</head>
	<body>
		<div id = 'shopping-list' class="shopping-list">
			<ul>
				<a class="lione" href="index.html">返回</a>
			</ul>
		</div>
		<div id = 'shopping-info' class="shopping-info">
			<h1>热门商品</h1>
			<ul class="shop-info-ul"></ul>
		</div>
		
		<script src="../js/myajax.js" charset="utf-8"></script>
		<script src="../js/shopping.js" charset="utf-8" text></script>
		<script src="../js/jquery-3.2.1.min.js" charset="UTF-8"></script>
		<script src="../js/underscore.js" charset="UTF-8"></script>
		
		
		<script>
				var page = 1;
				var pagesize = 100;
				var cat_id = getQueryString('cat_id');
				function getContent(){
					$.get('http://h6.duchengjiu.top/shop/api_goods.php?cat_id='+cat_id, {page, pagesize}, function(json){
						var template = "<li> <a href= goods.html? goods_id= <%=obj.goods_id %> ><div><img src= <%= obj.goods_thumb %> /></div><h2> <%= obj.goods_name %> </h2><span>￥ <%= obj.price %></span> <img src=../images/tianmao.png ><p>销量:390</p></a></li>";
						var compile = _.template(template);
						for(var i = 0; i < json.data.length; i++){
							var data = json.data[i];
							$('.shop-info-ul').html($('.shop-info-ul').html() + compile(data));
						}
						lock = true;
					});
				}
				getContent();
				
				//函数截流
				var lock = true;
				$(window).scroll(function(){
					if(!lock) return;
					var rate = $(document).scrollTop() / $(document).height();
					console.log(rate);
					if (rate > 0.7){
						getContent(++page);
						lock = false; //加锁
					}
				});	
		</script>
	</body>
</html>
